@import "tailwindcss";

@theme {
  --animate-bulge: bulge 2s ease-in-out infinite;

  @keyframes bulge {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.04);
    }
  }
}
