@import "tailwindcss";

@theme {
  --animate-bulge: bulge 1400ms ease-in-out infinite;

  @keyframes bulge {
    0%,
    100% {
      transform: scale(1.02);
    }
    50% {
      transform: scale(1.06);
    }
  }
}
